<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>datatable </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'><link rel="stylesheet" href="./style.css">
<script></script>

</head>
<body>



<div class="container" ng-app="formvalid">

    <div class="panel" data-ng-controller="validationCtrl">
        <div ng-If="data.length > 0">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
          <div ng-repeat="i in myData track by $index">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" ng-model="active" ng-change="change(i)">
                <label class="custom-control-label" for="customSwitch1">{{i}} - {{columns[$index]}}</label>
            </div>
          </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>  
  <div class="card">
    <div class="card-body">
  <div class="panel-heading border">    
    <div class="row">
    <div class="col-lg-10 card-title">Data table</div>
     <div class="col-lg-1 text-center"> <button type="button" class="btn btn-primary">Export Data</button></div>
    </div>
  </div>
  <div class="panel-body">
      <table id="example" class="table table-striped datatable" ui-jq="dataTable" ui-options="dataTableOpt">
      <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Age</th>
          <th>Profile Pic</th>
          <th>#</th>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Age</th>
          <th>Profile Pic</th>
        </tr>
      </thead>
        <tbody>
          <tr ng-repeat="n in data" ng-click="open(n)">
            <td>{{$index+1}}</td>
            <td>{{n[0]}}</td>
            <td>{{n[1]}}</td>
            <td>{{n[2]}}</td>
            <td>{{n[3]}}</td>
            <td><span class="badge badge-soft-success py-1">Delivered</span></td>
            <td>{{$index+1}}</td>
            <td>{{n[0]}}</td>
            <td>{{n[1]}}</td>
            <td>{{n[2]}}</td>
            <td>{{n[3]}}</td>
            <td><span class="badge badge-soft-success py-1">Delivered</span></td>
          </tr>
        </tbody>
    </table>
  </div>
  </div>
</div>
</div>
</div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>